 .waves{
//   position: fixed;
//    left: 0;
//     z-index: 0;
//     right: 0;

 }
.title{
    //position: fixed;
    left: 0;
    z-index: 100;
    font-size: 4rem;
    font-weight: 700;
    margin-left: 2rem;
    padding: 0;
    text-align: left;
    width: 100%;
    color: #f5bca4;
    margin-top: -18rem;
    margin-bottom: 8rem;
   
}
.users{
    position: absolute;
    right: 6%;
    z-index: 100;
    margin: 2rem;
    margin-top: -10rem;
    margin-bottom: 5rem;
    padding: 0.5rem;
    font-weight: 200;
    text-align: left;
    width: 10%;
   
}
.button{
    position: absolute;
    right: 0;
    z-index: 100;
    margin: 2rem;
    margin-top: -10rem;
    margin-bottom: 5rem;
    padding: 0.5rem;
    font-weight: 500;
    text-align: center;
    width: 6%;
    background-color: #404B81;
    border-color: #404B81;
    color: #DBB190;
   &:disabled{
    background-color: #ebcbb3;
    color: #606375;
    border-color: #ebcbb3;
   }
}
.home{
    border-radius: 1rem;
    width: 10rem;
    height: 3rem;
    font-weight: 600;
    color: #f59b56;
    background-color: #485282;
    border: none;
    font-size: larger;
    margin:10px;
    position: absolute;
    top :50px;
   right:0px;

   &:hover{
        background-color: #DBB190;
   }}
// $colours:(
// sand: #DBB190,
// navy: #404B81,
// blue:#328396, 
// turquoise:#6BB1A8,
// green: #94CAB3,
// yellow: #EBDFAE)
